<head>
	<title>LOCOCO - Local Coffee Company</title>
</head>
<div class="container-fluid" id="home">
	<div class="col-md-12 col-sm-12 col-xs-12 no-gutters full-height" id="home1">
		<div class="row">
			 <%= image_tag("https://lococo.s3.amazonaws.com/Avenir4.png") %>
			 <div id="menubar">
			 		<h3>Menu</h3>
			 </div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 no-gutters " id="home2">
		<div class="row" id="breakfast">

		</div>
		<hr>
		<div class="row" id="lunch">

		</div>	
		<hr>
		<div class="row" id="coffee">

		</div>
	</div>
</div>