<!DOCTYPE html>
<html>
  <head>
    <title>Lococo - Brooklyn cafe, coffee shop, smoothie bar, with art wall</title>
    <meta name="Description" content="Lococo (Local Coffee Company) is a brooklyn based cafe with a vegan menu, vintage esppresso machine, smoothie bar, and a great selection of food for breakfast, brunch, and lunch. We also carry various CBD Products and snacks.">
    <meta name="Keywords" content="Lococo, Coffee, Food, Sandwich Panini, Wrap, Espresso, Vegan, Vegetarian, Soup, Breakfast, Brunch, Lunch, CBD">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
